@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-01: #bfafa6;
    --cor-02: #bd1e1e;
    --cor-03: #fffb46;

    --font-01: "Inter", sans-serif;
    --font-02: "Bebas Neue", sans-serif;
    --font-03: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: var(--font-01);
}

header {
    position: relative;
    background: black url('../imagens/porsche9.webp') no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 80vh;
    max-width: 100vw;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.322);
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

header h1, header p {
    position: relative;
    z-index: 2;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.720);
}

header h1 {
    font-family: var(--font-02);
    font-size: 6vw;
    padding-top: 300px;
    font-weight: normal;
}

header p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.720);
    font-size: 2vw;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
    background-color: var(--cor-01);
    color: var(--cor-03);
    padding: 2px 4px;
    border-radius: 5px;
    font-weight: bold;
}

main {
    padding-bottom: 50px;
}

main h1 {
    font-family: var(--font-03);
    padding: 20px;
    font-size: 7vw;
}

main h2 {
    font-family: var(--font-03);
    padding: 20px;
    font-size: 5vw;
}

main p {
    font-size: 18px;
    padding-left: 20px;
    text-indent: 30px;
    line-height: 1.8em;
}

main a {
    text-decoration: none;
    color: var(--cor-02);
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 5px;
}

.ul {
    padding-left: 20px;
}

main ul {
    padding-left: 0;
    list-style-position: inside;
}

main li {
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.image {
    background-color: rgba(119, 119, 119, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 1.1em;
}

.porsche911 {
    background-image: url('../imagens/porsche911.jpg');
    background-color: rgb(169, 169, 169);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 20px;
}

.porsche918 {
    background-image: url('../imagens/porsche918-2.jpg');
    background-color: rgb(169, 169, 169);
    height: 800px;
    margin-top: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    padding-left: 20px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor-03);
    background-color: var(--cor-01);
}

main a::after {
    content: "\00A0\1F517";
}

main u {
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    background-color: var(--cor-01);
    color: var(--cor-03);
    padding: 2px 4px;
    border-radius: 5px;
    font-weight: bold;
}